**/node_modules/
build
!contrib/bash/faas-cli
faas-cli
faas-cli-darwin
faas-cli-armhf
faas-cli.exe
faas-cli-arm64
faas-cli-ppc64le

*.jpg
*.pyc
master.zip
*.png

obj
.vscode

*.swp

.idea
.DS_Store


template

*.pem
secrets.yml
